**/.git/**
**/.github/**
**/.vscode/**
**/.vs/**
**/.idea/**

.gitignore

node_modules/**
src/**

*.ts
**/*.map

dist/legacyExtension.js

scripts/**

tsconfig.json
package-lock.json

*.vsix
*.log
.DS_Store
